<main class="content">
    <section class="articles">
        <article class="article">
            <h3><a href="verhnee-menyu/blog/vtoraya-statya">Вторая статья</a></h3>
                 <a href="verhnee-menyu/blog/vtoraya-statya" class="details"><img src="../img/more.png"></a>
            <p class="summary">Какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи</p>
        </article>
        <article class="article">
            <h3><a href="verhnee-menyu/blog/tretya-statya">Третья статья</a></h3>
                <a href="verhnee-menyu/blog/tretya-statya" class="details"><img src="../img/more.png"></a>
            <p class="summary">Какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи</p>
        </article> 
        <article class="article">
            <h3><a href="verhnee-menyu/blog/chetvertaya-statya">Четвертая статья</a></h3>
                <a href="verhnee-menyu/blog/chetvertaya-statya" class="details"><img src="../img/more.png"></a>
            <p class="summary">Какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи</p>
        </article>
        <article class="article">
            <h3><a href="verhnee-menyu/blog/pervaya-statya">БОНУСЫ В КАЖДОЙ УПАКОВКЕ!</a></h3>
                <a href="verhnee-menyu/blog/pervaya-statya" class="details"><img src="../img/more.png"></a>
            <p class="summary">Какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи, какой-то текст статьи</p>
        </article>
    </section>
</main>
