<footer>
	<div class="boot_tel_wrap">
		<div class="boot_tel">
	<img src="../img/logo.png" class="logo">
	
	<span><img src="../img/tel.png">8 (777)555-77-56</span>
	</div>
	</div>
	
	<div class="footer-block">

		<div class="bot_menu">
			
		<nav>
			<ul>
				<li class="active"><a href="">главная</a></li>
				<li><a href="/prajs.html" title="документы">документы</a></li>
				<li><a href="/novosti.html" title="чат">чат</a></li>
				<li class="last"><a href="/kontakty.html" title="контакты">контакты</a></li>
			</ul>
		</nav>
	</div>
	</div>
	   
</footer>