<footer>
	<div class="footer-block">
		<div class="f_bl_wrap">
				<div class="foot_logo">
			<img src="../img/logo.png" class="logo">
		</div>
		<div class="foot_menu">
			<nav>
				<ul>
					<li class="active"><a href="">главная</a></li>
					<li><a href="/prajs.html" title="документы">документы</a></li>
					<li><a href="/novosti.html" title="чат">чат</a></li>
					<li class="last"><a href="/kontakty.html" title="контакты">контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="foot_tel">
			<img src="../img/call_foot.png">
			<a href="">8 (777)555-77-56</a>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="soc_s">
		<span>Мы в социальных сетях</span>
		<a href=""><img src="../img/ok.png"></a>
		<a href=""><img src="../img/vk.png"></a>
	</div>
</footer>