<footer>
	<div class="footer-block">
		<div class="foot_bg">
		<div class="first_bl">
			<div class="obout">
				<a href=""><img src="..//img/obout.png"><span>нас</span></a>
			</div>
			<div class="buy">
				<a href="">Где купить?</a>
			</div>
			<div class="clear"></div>
		</div>
			<div class="sec_bl">
				<div class="inf">
				<p>Информация на сайте носит справочный
характер и предназначена для лиц
старше 18 лет</p>
			</div>
			<div class="cont">
				<div class="mail">
					<span>Контакты:</span><a href="mailto:info@bulkes.cc">info@bulkes.cc</a>
				</div>
				<div class="download">
					<a href="">скачать прайс</a>
				</div>
				<div class="clear"></div>
			</div>
			</div>
			
		</div>
	</div>
	   
</footer>