<div class="carusel_wrap">
	<div id="carusel">
        <ul>
		 <li><a href=""><img src="../img/g_foto_1.png" alt=""></a></li>
		  <li><a href=""><img src="../img/g_foto_2.png" alt=""></a></li>
		  <li><a href=""><img src="../img/g_foto_3.png" alt=""></a></li>
		  <li><a href=""><img src="../img/g_foto_4.png" alt=""></a></li>
		  <li><a href=""><img src="../img/g_foto_5.png" alt=""></a></li>
		  <li><a href=""><img src="../img/g_foto_6.png" alt=""></a></li>
		</ul>
	</div>
	 <span></span>
</div>
<div class="hr_wrap">
    <hr>
</div>
