<header>
	<div class="head_tel">
	<img src="../img/logo.png" class="logo">
	<img src="../img/tel.png">
	<span>8 (777)555-77-56</span>
	</div>
	</div>
	<div class="mid_menu">
		<nav>
			<ul>
				<li class="active"><a href="">главная</a></li>
				<li><a href="/prajs.html" title="документы">документы</a></li>
				<li><a href="/novosti.html" title="чат">чат</a></li>
				<li class="last"><a href="/kontakty.html" title="контакты">контакты</a></li>
			</ul>
		</nav>
	</div>
	<div class="hello">
		<p>
		Добро пожаловать на сайт

Садоводческого
Некоммерческого
товарищества «Искра»
		</p>
	</div>
</header>
