<header>
	<div class="head_tel">
	<img src="../img/logo.png" class="logo">
	<img src="../img/tel.png">
	<span>8 (777)555-77-56</span>
	</div>
	</div>
	<div class="mid_menu">
		<nav>
			<ul>
				<li class="active"><a href="">главная</a></li>
				<li><a href="/prajs.html" title="документы">документы</a></li>
				<li><a href="/novosti.html" title="чат">чат</a></li>
				<li class="last"><a href="/kontakty.html" title="контакты">контакты</a></li>
			</ul>
		</nav>
	</div>
	<div class="hello">
		<div class="hello_bg">
			<div class="hello_cent">
				<div class="hello_cent_2">
					<p>
					Добро пожаловать на сайт
					</p>
					<p>Садоводческого Некоммерческого товарищества «Искра»</p>
					<div class="more">
						<a href=""><img src="../img/arrow.png"></a>
					</div>
					
				</div>
				
			</div>
		
		</div>
		
	</div>
</header>
