<main class="content">
    <h3>Лучшие сорта</h3>
	<div id="carusel">
        <ul>
		  <li><a href=""><img src="../img/best_s/1.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/2.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/3.png" alt=""><h2>BLUT ACTID AUTO</h2></a></li>
		  <li><a href=""><img src="../img/best_s/4.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/5.png" alt=""><h2>AK KUSHEXPRESS</h2></a></li>
		  <li><a href=""><img src="../img/best_s/1.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/2.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/3.png" alt=""><h2>BLUT ACTID AUTO</h2></a></li>
		</ul>
    </div>
    <span class="prev_cont"></span>
    <span class="next_cont"></span>
    <hr>
    <div class="baner">
    	<div class="b_left">
    		<a href="">Оптовым <span>покупателям</span></a>
    	</div>
    	<div class="b_center"></div>
    	<div class="b_right">
			<p>Обратный<br/><span>звонок</span></p>
    	</div>
    	<img src="../img/tel.png" alt="">
    	<div class="clear"></div>
    </div>

    <div class="opt_text_bg">
                <div class="opt1" style="margin-right: 3%;">
                    <p>МАГАЗИНАМ</p>
                    <p>Если вы планируете открытие своей торговой точки или возникла необходимость пополнить ассортимент, Вас приятно удивят наши условия для постоянного сотрудничества. Мы разработали специальную систему для работы с оптовыми клиентами. Она предусматривает основные виды предложений с максимальными скидками и взаимовыгодными условиями. Оптовая продукция от нашего интернет магазина это гарантия высокого качества, широкий ассортимент, надежные и легальные поставки.</p>
<p><em>При заказе от 30 тыс. рублей</em></p>
                </div>
                <div class="opt2" style="margin-left: 3%;">
                    <p>ОПТОВЫМ ПОКУПАТЕЛЯМ</p>
                    <p>Купив&nbsp;семена конопли оптом, Вы снижаете стоимость каждого зернышка. Если вам не чуждо чувство запасливости, и вы уверенны, что в ближайшие пару лет семена будут потрачены, воспользуйтесь прекрасным предложением. Наша заинтересованность в длительном надежном и взаимовыгодном сотрудничестве исключает жесткие ограничения. С каждым клиентом мы прорабатываем индивидуальные системы скидок, учитывая различные аспекты партнерства.</p>
<p><em>При заказе от 15 тыс. рублей</em></p>
                </div>
                <div class="clear"></div>
                </div>
</main>
