<main class="content">
	<h3>BLOWRYDER</h3>
	<div class="sm">


		<div class="sm_cont">
			<div class="sm_img_r" style="margin:0;">
				<img src="../img/maker.png">
			</div>
			<div class="sm_text ico">
				<ul>
					<li class="flowering">Цветение: 8 Weeks</li>
					<li class="type">Тип: Indica</li>
					<li class="genetic">Генетика: Lowryder x Ruderalis</li>
					<li class="environment">Среда: Indoor/Outdoor</li>
					<li class="height">Высота: 30-50 cm</li>
					<li class="harvest">Урожай: 150 g/m2</li>
				</ul>
			</div>
			<div class="sm_img_l">
				<img src="../img/gender.png">
			</div>
			<div class="sm_cont">
				<p>Задача организации, в особенности же консультация с широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. 

Разнообразный и богатый опыт консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. </p>
			</div>
			
				<div class="clear"></div>
			</div>



			<div class="sm_thumb">
					<img src="../img/cartochka.png">
			</div>
			<div class="clear"></div>
	</div>
	<hr>
	<div class="baner">
		<div class="b_left">
			<a href="">Оптовым <span>покупателям</span></a>
		</div>
		<div class="b_center"></div>
		<div class="b_right">
			<p>Обратный<br/><span>звонок</span></p>
		</div>
		<img src="../img/tel.png" alt="">
		<div class="clear"></div>
	</div>
</main>
