@media (max-width: 1700px)
{
header{
	height: 630px;
	.head_ban{
	width:469px;
	top:75px;
	ul{
		li{
			img{
				width: 100%;
			}
		}
	}
	.prev, .next{
			width: 10%;
			top:260px;
		}
}
.header_bl{
	.logo_bl{
	padding-top: 40px;
}
.h_menu{
	.signature{
		img{
			width:340px;
		}
	}



}
}


}
//end max-width 1700px
}

