/*************************************
Footer
**************************************/
footer{
	max-width: 1920px;
	background: url(../img/footer_bg.png) center center no-repeat;
	height: 305px;
	margin-top: 95px;
	position: relative;
	.boot_tel_wrap{
		width: 1200px;
		margin: 0 auto;

		.boot_tel{
    		position: absolute;
    		top: 32px;
    		z-index: 3;
    		img{
    			
    		   		}
    	}
	}
	
	.footer-block{
		height: 88px;
    	width: 100%;
    	top: 25px;
    	z-index: 1;
    	position: relative;
    	text-align: center;

		.bot_menu{
			width: 1200px;
			margin: 0 auto;
			
			nav{
				ul{
					li{
					*display: inline !important;
					display: inline-block;
					height: 88px;
				    vertical-align: middle;
				    line-height: 88px;
					a{
						font-family: Roboto-Medium;
						text-decoration: none;
						color:  #fefefe;
						font-size: 17px;/* Приближение из-за подстановки шрифтов */
						font-weight: 500;
						text-transform: uppercase;
						padding: 0 60px;
					}
					&:hover{
						background:#809f52

					}
				}
				}
			}
		}

	}
	.footer-block:after{
		content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 88px;  
  opacity: .8; 
  z-index: -1;
  background:  #b2d179;
	}

}


/*************************************
End footer
**************************************/
