/*
GALLERY
*/
.carusel_wrap{
	background: #eff2e7;
	height: 340px;
	text-align: center;
	line-height: 340px;
	margin-bottom: 30px;

	#carusel{
	border-top: 7px solid #c3c6bd;	
	border-right: 10px solid #c3c6bd;
	border-bottom: 7px solid #c3c6bd;
	border-left: 10px solid #c3c6bd;
	line-height: 340px;
	vertical-align: middle;
  	display: inline-block;
	width:1182px;
	height: 198px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index:5;
	ul{
		display: block;
		height: inherit;
		position: absolute;
		left: 0;
		text-align: center;
		li{
			float: left;
			width: 197px;
			display: table;
			height:198px;
			&:hover{
				margin-bottom: 2px;
			}
			a{
				text-decoration: none;
				display: table-cell;
				vertical-align: bottom;
				&:hover{
					margin-top: 2px;
				    outline: 2px solid #fff;
				    height: 194px;
				    width: 195px;
				    display: block;
				}
			}
			
		}
	}

}
}
